/* ===Google Font=== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* ===Common Css Style=== */
:root{
    --white: #FFFF;
    --black: #000000;
    --nav-color:#777777;
    --nav-background-color: #289BDE;
    --buttons-color: ##289BDE;
    
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ****************************
        Custom Style Start
***************************** */


/* ===Navigation Design Start=== */
.nav-item{

}
.nav-link{
    color: var(--nav-color);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.nav-link:hover{
    background-color: var(--nav-background-color);
    color: white;
    border-radius: 5px;
}
#active{
    color: var(--nav-background-color);
    border-radius: 5px;
}
.profile-area a{
    text-decoration: none;
    color: var(--nav-color);
}