/* ===Google Font=== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* ===Common Css Style=== */
:root{
    --white: #FFFF;
    --black: #000000;
    --nav-color:#777777;
    --nav-background-color: #289BDE;
    --buttons-color: #289BDE;
    --main-color:rgb(30 182 152);
    --background-gradient: linear-gradient(to right,rgb(30 182 152),#289BDE );
    --course-title: #4A4A4A;
    --para-color:  #777777;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ****************************
        Custom Style Start
***************************** */


/* ===Navigation Design Start=== */
.nav-item{

}
.nav-link{
    color: var(--nav-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}
.nav-link:hover{
    background-color: var(--nav-background-color);
    color: white;
    border-radius: 5px;
}
#active{
    color: var(--nav-background-color);
    border-radius: 5px;
    
}
.profile-area a{
    text-decoration: none;
    color: var(--nav-color);
}

/* ===Slider Area Design=== */
  .carousel-item > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-blend-mode: darken;
  }
  .btnn{
    background-color: var(--buttons-color);
  }
/* ===Section Title Text Style=== */
.section-title h1{
    color:var(--main-color) ;
} 
.gradient-text{
    background-image:var(--background-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;

}  

/* ===Course Area Start=== */
.course-details h3{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    color: var(--course-title);
}
.course-details p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--para-color);
}
.course-details h2{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: var(--main-color);
}

/* ====Explore Area Start=== */
#explore{
    text-align: justify;
}
.rating h3{
    font-size: 18px;
    color: var(--main-color);
}
.register:hover{
    outline: none;
    background-color: var(--main-color);
}